<a href="https://colab.research.google.com/github/shinchangyoung/algo-study-notebook/blob/main/1_1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 기본 자료형

## 숫자형

In [ ]:
a = 123       # 정수
a = 12.34     # 실수
a = 1 + 2j    # 복소수

1.0

In [ ]:
print(a.real)         # 실수 출력
print(a.imag)         # 허수 출력
print(a.conjugate())  # 복소수 출력
print(abs(a))         # 절대값 출력

1.0
2.0
(1-2j)
2.23606797749979

In [ ]:
a = 0o12              # 8진수
a

10

In [ ]:
a = 0x12A             # 16진수
a

298

In [ ]:
b = True              # 논리형
b

True

## 숫자형 데이터에 대한 연산자

In [ ]:
a = 3
b = 4

# 사칙연산
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [ ]:
# 지수승
print(a ** b)
print(a ** 3)

81
27

In [ ]:
# 나머지 연산
print(a % b)
print(7 % 3)

3
1

In [ ]:
# 나눗셈 몫 구하기
print(a // b)
print(7 // 3)

0
2

# 2. 그룹 자료형

## 문자열 자료형

In [ ]:
s1 = 'Hello Python'
print(s1)

s2 = "Hello Python"
print (s2)

s3 = '''Hello Python'''
print(s3)

s4 = """Hello Python"""
print(s4)

Hello Python
Hello Python
Hello Python
Hello Python

In [ ]:
# 문자열 연결
head = "Python"
tail = " is fun"
head + tail

'Python is fun'

In [ ]:
# 문자열 곱하기
print(head * 2)
print("=" * 5)

PythonPython
=====

In [ ]:
# 문자열 인덱싱
a = "Now is better than never"
print(a[0])
print(a[4])
print(a[-1])
print(a[-2])

N
i
r
e

In [ ]:
# 문자열 슬라이싱
b = a[0] + a[1] + a[2]
print(b)

print(a[0:3])
print(a[4:6])
print(a[19:])
print(a[:3])
print(a[:])
print(a[7:-11])

Now
Now
is
never
Now
Now is better than never
better

In [ ]:
# 문자 개수 계산
a = "Python"
a.count('p')

0

In [ ]:
# 문자 위치 확인
print(a.find('y'))
print(a.find('p'))
print(a.index('y'))
print(a.index('p'))

1
-1
1

ValueError: substring not found

In [ ]:
# 문자 삽입
b = ","
c = b.join('Abcd')
c

'A,b,c,d'

In [ ]:
# 대소문자 변환
print(a.upper())
print(a.lower())

PYTHON
python

In [ ]:
# 공백 제거
d = "              py           "
print(d.lstrip())
print(d.rstrip())
print(d.strip())

py
              py
py

In [ ]:
# 문자열 수정 (불가능)
a = "Pithon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [ ]:
# 문자열 바꾸기
a = "Python is difficult."
a.replace("difficult", "funny")

'Python is funny.'

In [ ]:
# 문자열 나누기
print(a.split())

b = "a, b, c, d"
print(b)
print(b.split(','))

['Python', 'is', 'difficult.']
a, b, c, d
['a', ' b', ' c', ' d']

## 리스트

In [ ]:
# 리스트 만들기
a = [1, 2, 3]
b = ['Life', 'is', 'too', 'short']
c = [1, 2, 'Life', 'is']
d = [1, 2, [3, 4], ['Life', 'is']]

In [ ]:
# 리스트 인덱싱
print(d[0])
print(d[2])
print(d[3])
print(d[3][-1])

1
[3, 4]
['Life', 'is']
is

In [ ]:
# 리스트 슬라이싱
print(d[0:3])

[1, 2, [3, 4]]

In [ ]:
# 리스트 연결
print(a + b)
print(b[0] + " hi~ ^^;")
print(a[0] + " hi~ ^^;")

[1, 2, 3, 'Life', 'is', 'too', 'short']
Life hi~ ^^;

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 리스트 반복
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 수정
a[2] = 99
print(a)

a[1:2] = ['a', 'b', 'c']
print(a)

a[-1] = ['d', 'e', 'f']
print(a)

[1, 2, 99]
[1, 'a', 'b', 'c', 99]
[1, 'a', 'b', 'c', ['d', 'e', 'f']]

In [ ]:
# 삭제
del a[-1]
a

[1, 'a', 'b', 'c']

In [ ]:
# 원소 추가
a.append(5)
a

[1, 'a', 'b', 'c', 5]

In [ ]:
# 원소 정렬
b.sort()
b

['Life', 'is', 'short', 'too']

In [ ]:
# 원소 순서 뒤집기
a = [3, 4, 1, 9]
a.reverse()
a

[9, 1, 4, 3]

In [ ]:
# 원소 위치 확인
a.index(9)

0

In [ ]:
# 원소 삽입
a.insert(0, 99)
a

[99, 9, 1, 4, 3]

In [ ]:
# 원소 삭제
a.remove(99)
print(a)

b = [1, 2, 3]
print(b.pop())
print(b)

print(b.pop(0))
print(b)

[9, 1, 4, 3]
3
[1, 2]
1
[2]

In [ ]:
# 특정 원소값의 개수
a = [2, 1, 0, 2, 3, 2, 4, 2]
print(a.count(2))

4

## 튜플 자료형

In [ ]:
# 튜플 만들기
t1 = (1, )
t2 = (1, 2, 3)
t3 = 1, 2, 3
t4 = (1, 2, (3, 4), ('Life', 'is'))

In [ ]:
# 튜플 인덱싱
print(t4[0])
print(t4[3][-1])

1
is

In [ ]:
# 튜플 슬라이싱
t4[0:3]

(1, 2, (3, 4))

In [ ]:
# 튜플 연결
print(t1 + t2)
print(t1 + "hi~ ^^;")

(1, 1, 2, 3)

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
# 튜플 반복
t2 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# 튜플 수정(불가능)
t2[2] = 99

TypeError: 'tuple' object does not support item assignment

## 딕셔너리

In [ ]:
# 딕셔너리 만들기
dic = {'name':'Hong', 'phone':'01012345678', 'birth':'0814'}

In [ ]:
# 원소 추가
dic[1] = 'a'
print(dic)

dic['pet'] = 'dog'
print(dic)

{'name': 'Hong', 'phone': '01012345678', 'birth': '0814', 1: 'a'}
{'name': 'Hong', 'phone': '01012345678', 'birth': '0814', 1: 'a', 'pet': 'dog'}

In [ ]:
# 원소 삭제
del dic[1]
dic

{'name': 'Hong', 'phone': '01012345678', 'birth': '0814', 'pet': 'dog'}

In [ ]:
# 원소의 value 구하기
print(dic['pet'])
print(dic['name'])

dog
Hong

In [ ]:
# key의 리스트 만들기
print(dic.keys())
print(list(dic.keys()))

dict_keys(['name', 'phone', 'birth', 'pet'])
['name', 'phone', 'birth', 'pet']

In [ ]:
# value의 리스트 만들기
print(dic.values())
print(list(dic.values()))

dict_values(['Hong', '01012345678', '0814', 'dog'])
['Hong', '01012345678', '0814', 'dog']

In [ ]:
# key, value 쌍 구하기
dic.items()

dict_items([('name', 'Hong'), ('phone', '01012345678'), ('birth', '0814'), ('pet', 'dog')])

In [ ]:
# 원소 삭제
dic.clear()
print(dic)

{}

## 집합

In [ ]:
# 집합 만들기
s1 = {1, 2, 'a', 5}
s2 = set([1, 2, 3, 4, 5, 6])
print(s2)
s3 = set([4, 5, 6, 7, 8, 9])
print(s3)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [ ]:
# 교집합 연산
print(s2 & s3)
print(s2.intersection(s3))

{4, 5, 6}
{4, 5, 6}

In [ ]:
# 합집합 연산
print(s2 | s3)
print(s2.union(s3))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 차집합 연산
print(s2 - s3)
print(s2.difference(s3))
print(s3.difference(s2))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}

In [ ]:
# 원소 한 개 추가
s2.add(7)
s2

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 원소 여러 개 추가
s2.update([6, 7, 8, 9, 10])
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 특정 원소 제거
s2.remove(7)
s2

{1, 2, 3, 4, 5, 6, 8, 9, 10}

# 3. 조건문

In [ ]:
# 비교 연산자
x = 3
y = 2
print(x == y)
print(x != y)
print(x >= y)

False
True
True

In [ ]:
# 조건의 연결
money = 1300
if money >= 1200 and money < 3500:
  print('버스를 탈 수 있습니다.')

버스를 탈 수 있습니다.

In [ ]:
# 그룹 자료형의 원소인지 검사하기
print(1 in [1, 2, 3])
print(x in [1, 2, 3])
print(x not in [1, 2, 3])
print('a' in ['a', 'b', 'c', 'd'])
print('i' not in 'Python')

True
True
False
True
True

In [ ]:
# 아무 것도 하지 않게 설정
if money < 10:
  pass
else:
  print('저금하자!')

저금하자!

# 4. 반복문

In [ ]:
# for 반복문1
test_list = ['one', 'two', 'three']
for i in test_list:
  x = i + '!'
  print(x)

one!
two!
three!

In [ ]:
# for 반복문2
number = 0
for score in [90, 25, 67, 45, 93]:
  number += 1

  if score > 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# while 문
i = 0
while i < 5:
  i += 1
  print('*' * i)

*
**
***
****
*****

# 5. 함수

## 사용자 정의 함수

In [ ]:
# 함수 정의
def sum1(a, b):
  x = a + b
  return x

def sum2(*args):
  x = 0
  for i in args:
    x += i
  return x

In [ ]:
# 함수 호출
a = 5
b = 3
print(sum1(a, b))
print(sum1(3, 5))
print(sum2(1, 2, 3, 4, 5))
print(sum2(2, 3.5, 10))

8
8
15
15.5

## 내장 함수

In [ ]:
# 숫자 x의 절대값을 반환
print(abs(-3.5))

3.5
True
False
True
True
a
0
97
48
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
# 그룹 자료형의 변수 x의 모든 원소가 참(0이 아닌 값)이면 True 반환
print(all([1, 2, 3, 4]))
print(all([4, -2, 0.0, 4]))

# 그룹 자료형의 변수 x의 원소 중 하나라도 참이면 True 반환
print(any([1, 2, 3, 4]))
print(any([4, -2, 0.0, 4]))

In [ ]:
# 아스키코드 값에 대한 문자 출력
print(chr(97))
print(chr(48))

# 문자에 대한 아스키코드 값 출력
print(ord('a'))
print(ord('0'))

In [ ]:
# 객체 x가 가진 멤버 변수와 멤버 함수 보여주기
print(dir([1, 2, 3]))
print(dir({'1':'a'}))
print(dir(1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
print(int('3'))                # x를 정수 형태로 반환
print(str(3))                  # x를 문자열 형태로 반환

# x를 리스트로 반환
print(list("Python"))
print((1, 2, 3))

# x를 튜플로 반환
print(tuple("Python"))
print(tuple([1, 2, 3]))

# x의 자료형을 반환
print(type("abc"))
print(type(a))

3
3
['P', 'y', 't', 'h', 'o', 'n']
(1, 2, 3)
('P', 'y', 't', 'h', 'o', 'n')
(1, 2, 3)
<class 'str'>
<class 'int'>

In [ ]:
# 간단한 삽입형 함수 생성
sum = lambda a, b: a + b
print(sum(3, 5))

8

In [ ]:
# 최대, 최소값 반환
print(max([1, 4, 2, 8, 6]))
print(max("Python"))

print(min([1, 4, 2, 8, 6]))
print(min("Python"))

8
y
1
P

In [ ]:
# x의 y제곱 결과값 반환
print(pow(2, 4))

16

In [ ]:
# 사용자 입력으로 받은 값을 문자열로 반환1
c = input()
print(c)

21
21

In [ ]:
# 사용자 입력으로 받은 값을 문자열로 반환2
c = input("정수를 입력하세요: ")
print(c)

정수를 입력하세요: 21
21

In [ ]:
# 입력 받은 숫자에 해당되는 범위의 값을 반환
print(range(5))
print(list(range(5)))
print(list(range(5, 10)))
print(list(range(5, 10, 2)))

range(0, 5)
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]

In [ ]:
# 입력값 s의 길이를 반환
len('Python')

6

In [ ]:
print(sorted([3, 0, 2, 1]))
print(sorted('Python'))

[0, 1, 2, 3]
['P', 'h', 'n', 'o', 't', 'y']

## 모듈과 패키지

In [ ]:
# 패키지, 모듈 사용
Request('http://www.sunmoon.ac.kr')

NameError: name 'Request' is not defined

In [ ]:
import urllib.request
urllib.request.Request('http://www.sunmoon.ac.kr')

In [ ]:
import pandas
pandas.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [ ]:
from datetime import datetime
datetime.now()

datetime.datetime(2025, 2, 11, 13, 51, 37, 876551)

## 파일 처리

In [ ]:
# 파일 객체 생성
f = open('example.txt', 'w')
f

In [ ]:
# 파일 닫기
f.close()

In [ ]:
# 파일 쓰기
f = open('example.txt', 'w')
for i in range(1, 6):
  data = '%d번째 줄입니다. \n' % i
  f.write(data)
f.close()

In [ ]:
# 파일에 내용 추가하기
f = open('example.txt', 'a')
for i in range(6, 11):
  data = '%d번째 줄 추가입니다. \n' % i
  f.write(data)
f.close()

In [ ]:
# 파일 모드 'r' - readline()
f = open('example.txt', 'r')
line = f.readline()
print(line)

while True:
  line = f.readline()
  if not line: break
  print(line)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄 추가입니다.

7번째 줄 추가입니다.

8번째 줄 추가입니다.

9번째 줄 추가입니다.

10번째 줄 추가입니다.

In [ ]:
# 파일 모드 'r' - readlines()
f = open('example.txt', 'r')
lines = f.readlines()
print(lines)

for line in lines:
  print(line)

f.close()

['1번째 줄입니다. \n', '2번째 줄입니다. \n', '3번째 줄입니다. \n', '4번째 줄입니다. \n', '5번째 줄입니다. \n', '6번째 줄 추가입니다. \n', '7번째 줄 추가입니다. \n', '8번째 줄 추가입니다. \n', '9번째 줄 추가입니다. \n', '10번째 줄 추가입니다. \n']
1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄 추가입니다.

7번째 줄 추가입니다.

8번째 줄 추가입니다.

9번째 줄 추가입니다.

10번째 줄 추가입니다.

In [ ]:
# 파일 모드 'r' - read()
f = open('example.txt', 'r')
data = f.read()
data

'1번째 줄입니다. \n2번째 줄입니다. \n3번째 줄입니다. \n4번째 줄입니다. \n5번째 줄입니다. \n6번째 줄 추가입니다. \n7번째 줄 추가입니다. \n8번째 줄 추가입니다. \n9번째 줄 추가입니다. \n10번째 줄 추가입니다. \n'

In [ ]:
# with open() as 파일 객체
with open('example.txt', 'w') as f:
  f.write("Now is better than never.")
data = f.read()

ValueError: I/O operation on closed file.